body
{
  color: rgb(236, 223, 223);
  background: #a200ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(119, 119, 119);
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: rgb(255, 0, 0);
}
.gesture_name
{
  font-size: 40px;
}
.hand
{
  font-size:48px;
}
.heading
{
font-size: 25px;
border-radius: 20px;
letter-spacing: 10px;
}
label
{
font-size: 20px;
background-color: rgb(255, 136, 0);
color: rgb(255, 251, 1);
padding: 5px;
border-radius: 10px;
}